In [36]:
import pandas as pd
import requests

file_path = 'movie_costs.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the DataFrame
print(df)

      Unnamed: 0          ReleaseDate  \
0              0      1   Dec 9, 2022
1              1      2  Apr 23, 2019
2              2      3  May 20, 2011
3              3      4  Apr 22, 2015
4              4      5  May 17, 2023
...          ...    ...           ...
6395        6395  6,396  Jan 27, 2017
6396        6396  6,397  Jun 30, 1972
6397        6397  6,398   Aug 1, 1997
6398        6398  6,399  Jan 14, 2000
6399        6399  6,400  Jul 17, 2015

                                            Movie  ProductionBudget  \
0                        Avatar: The Way of Water       460000000.0
1                               Avengers: Endgame       400000000.0
2     Pirates of the Caribbean: On Stranger Tides       379000000.0
3                         Avengers: Age of Ultron       365000000.0
4                                          Fast X       340000000.0
...                                           ...               ...
6395                                        Emily           27000.0
6396                                  Deep Throat           25000.0
6397                        In the Company of Men           25000.0
6398                                The Terrorist           25000.0
6399                                       Exeter           25000.0

      DomesticGross  WorldwideGross
0       684075767.0    2.319592e+09
1       858373000.0    2.788912e+09
2       241071802.0    1.045714e+09
3       459005868.0    1.395317e+09
4       145960660.0    7.144145e+08
...             ...             ...
6395         3547.0    3.547000e+03
6396     45000000.0    4.500000e+07
6397      2883661.0    2.883661e+06
6398       195043.0    1.950430e+05
6399            0.0    4.897920e+05

[6400 rows x 7 columns]

In [37]:
# Your OMDB API key
api_key = 'ac6cb27f'

# Base URL for OMDB API
omdb_url = 'http://www.omdbapi.com/'

In [38]:
def get_movie_details(title):
    params = {'apikey': api_key, 't': title}
    response = requests.get(omdb_url, params=params)
    data = response.json()
    return data

In [39]:
# Define a list of fields you want to extract from the API response
fields_to_extract = ['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response']

In [40]:
# Iterate through each row in the DataFrame and append selected fields from the API response
for index, row in df.iterrows():
    movie_title = row['Movie']
    movie_details = get_movie_details(movie_title)

    # Append selected fields to the DataFrame
    for field in fields_to_extract:
        column_name = f'OMDB_{field}'
        df.at[index, column_name] = movie_details.get(field, '')

In [41]:
# Display the updated DataFrame
print(df)

      Unnamed: 0          ReleaseDate  \
0              0      1   Dec 9, 2022
1              1      2  Apr 23, 2019
2              2      3  May 20, 2011
3              3      4  Apr 22, 2015
4              4      5  May 17, 2023
...          ...    ...           ...
6395        6395  6,396  Jan 27, 2017
6396        6396  6,397  Jun 30, 1972
6397        6397  6,398   Aug 1, 1997
6398        6398  6,399  Jan 14, 2000
6399        6399  6,400  Jul 17, 2015

                                            Movie  ProductionBudget  \
0                        Avatar: The Way of Water       460000000.0
1                               Avengers: Endgame       400000000.0
2     Pirates of the Caribbean: On Stranger Tides       379000000.0
3                         Avengers: Age of Ultron       365000000.0
4                                          Fast X       340000000.0
...                                           ...               ...
6395                                        Emily           27000.0
6396                                  Deep Throat           25000.0
6397                        In the Company of Men           25000.0
6398                                The Terrorist           25000.0
6399                                       Exeter           25000.0

      DomesticGross  WorldwideGross  \
0       684075767.0    2.319592e+09
1       858373000.0    2.788912e+09
2       241071802.0    1.045714e+09
3       459005868.0    1.395317e+09
4       145960660.0    7.144145e+08
...             ...             ...
6395         3547.0    3.547000e+03
6396     45000000.0    4.500000e+07
6397      2883661.0    2.883661e+06
6398       195043.0    1.950430e+05
6399            0.0    4.897920e+05

                                       OMDB_Title OMDB_Year OMDB_Rated  ...  \
0                        Avatar: The Way of Water      2022      PG-13  ...
1                               Avengers: Endgame      2019      PG-13  ...
2     Pirates of the Caribbean: On Stranger Tides      2011      PG-13  ...
3                         Avengers: Age of Ultron      2015      PG-13  ...
4                                          Fast X      2023      PG-13  ...
...                                           ...       ...        ...  ...
6395                                        Emily      2022          R  ...
6396                                  Deep Throat      1972          X  ...
6397                        In the Company of Men      1997          R  ...
6398                                The Terrorist      1998    Unrated  ...
6399                                       Exeter      2015          R  ...

     OMDB_Metascore OMDB_imdbRating OMDB_imdbVotes OMDB_imdbID OMDB_Type  \
0                67             7.6        466,460   tt1630029     movie
1                78             8.4      1,223,491   tt4154796     movie
2                45             6.6        552,123   tt1298650     movie
3                66             7.3        902,827   tt2395427     movie
4                56             5.8        101,452   tt5433140     movie
...             ...             ...            ...         ...       ...
6395             75             6.8          6,984  tt12374656     movie
6396            N/A             5.0          6,957   tt0068468     movie
6397             81             7.1         14,121   tt0119361     movie
6398             68             7.0          2,032   tt0169302     movie
6399            N/A             4.5          6,016   tt1945044     movie

         OMDB_DVD OMDB_BoxOffice OMDB_Production OMDB_Website OMDB_Response
0     28 Mar 2023   $684,075,767             N/A          N/A          True
1     30 Jul 2019   $858,373,000             N/A          N/A          True
2     01 Jan 2014   $241,071,802             N/A          N/A          True
3     08 Sep 2015   $459,005,868             N/A          N/A          True
4     09 Jun 2023   $145,960,660             N/A          N/A          True
...           ...            ...             ...          ...           ...
6395          N/A     $1,097,067             N/A          N/A          True
6396          N/A            N/A             N/A          N/A          True
6397  19 Apr 2016     $2,804,473             N/A          N/A          True
6398          N/A       $153,629             N/A          N/A          True
6399  01 Nov 2016            N/A             N/A          N/A          True

[6400 rows x 31 columns]

In [1]:
output_file_path = 'omdb_df.csv'

# Output the DataFrame to a CSV file
df.to_csv(output_file_path, index=False)

print(f"DataFrame has been successfully written to {output_file_path}")

NameError: name 'df' is not defined

In [6]:
import pandas as pd

# Read the CSV file into a DataFrame
ml_df = pd.read_csv('omdb_df.csv')

# Display the DataFrame
ml_df.head()

,Unnamed: 0,,ReleaseDate,Movie,ProductionBudget,DomesticGross,WorldwideGross,OMDB_Title,OMDB_Year,OMDB_Rated,...,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_imdbID,OMDB_Type,OMDB_DVD,OMDB_BoxOffice,OMDB_Production,OMDB_Website,OMDB_Response
0,0,1,"Dec 9, 2022",Avatar: The Way of Water,460000000.0,684075767.0,2.319592e+09,Avatar: The Way of Water,2022,PG-13,...,67.0,7.6,"466,460",tt1630029,movie,28 Mar 2023,"$684,075,767",NaN,NaN,True
1,1,2,"Apr 23, 2019",Avengers: Endgame,400000000.0,858373000.0,2.788912e+09,Avengers: Endgame,2019,PG-13,...,78.0,8.4,"1,223,491",tt4154796,movie,30 Jul 2019,"$858,373,000",NaN,NaN,True
2,2,3,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,379000000.0,241071802.0,1.045714e+09,Pirates of the Caribbean: On Stranger Tides,2011,PG-13,...,45.0,6.6,"552,123",tt1298650,movie,01 Jan 2014,"$241,071,802",NaN,NaN,True
3,3,4,"Apr 22, 2015",Avengers: Age of Ultron,365000000.0,459005868.0,1.395317e+09,Avengers: Age of Ultron,2015,PG-13,...,66.0,7.3,"902,827",tt2395427,movie,08 Sep 2015,"$459,005,868",NaN,NaN,True
4,4,5,"May 17, 2023",Fast X,340000000.0,145960660.0,7.144145e+08,Fast X,2023,PG-13,...,56.0,5.8,"101,452",tt5433140,movie,09 Jun 2023,"$145,960,660",NaN,NaN,True

In [220]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [221]:
# Replace 'your_file_path.csv' with the actual path to your CSV file
file_path = 'omdb_df.csv'
# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)
# Feature selection - you can choose the features you want to use for prediction
# In this example, we're using the ProductionBudget as the feature

In [222]:
# Select features and target variable

#Initial features
#Mean Squared Error: 0.6728499823008848
#features = ['ProductionBudget', 'OMDB_Rated', 'OMDB_BoxOffice', 'DomesticGross', 'WorldwideGross', 'OMDB_imdbVotes']

#Initial Variations 
#Mean Squared Error: 0.6130522928501466
#features = ['ProductionBudget',  'OMDB_BoxOffice', 'DomesticGross', 'WorldwideGross', 'OMDB_imdbVotes']

#Mean Squared Error: 0.7271893362143474
#features = ['ProductionBudget', 'OMDB_Rated',  'DomesticGross', 'WorldwideGross', 'OMDB_imdbVotes']

#Mean Squared Error: 0.6708382664700098
#features = ['ProductionBudget', 'OMDB_Rated', 'OMDB_BoxOffice','WorldwideGross', 'OMDB_imdbVotes']

#Mean Squared Error: 0.6849534473942968
#features = ['ProductionBudget', 'OMDB_Rated', 'OMDB_BoxOffice', 'DomesticGross',  'OMDB_imdbVotes']

#Mean Squared Error: 0.9743603362831856
#features = ['ProductionBudget', 'OMDB_Rated', 'OMDB_BoxOffice', 'DomesticGross', 'WorldwideGross']


#Second Round of Variations

#Mean Squared Error: Mean Squared Error: 0.6741467649363369
#features = ['OMDB_BoxOffice', 'DomesticGross', 'WorldwideGross', 'OMDB_imdbVotes']

#Mean Squared Error: Mean Squared Error: 0.7883941310924371
#features = ['ProductionBudget', 'DomesticGross', 'WorldwideGross', 'OMDB_imdbVotes']

#Mean Squared Error: Mean Squared Error: 0.6139141586679724
#features = ['ProductionBudget',  'OMDB_BoxOffice', 'WorldwideGross', 'OMDB_imdbVotes']

#Mean Squared Error: Mean Squared Error: 0.6465219520078352
#features = ['ProductionBudget',  'OMDB_BoxOffice', 'DomesticGross',  'OMDB_imdbVotes']

#Mean Squared Error: Mean Squared Error: 0.9238590724779626
#features = ['ProductionBudget',  'OMDB_BoxOffice', 'DomesticGross', 'WorldwideGross']

#Third Round of Variations

#Mean Squared Error: Mean Squared Error: 0.6810655034280116
#features = [ 'OMDB_BoxOffice', 'WorldwideGross', 'OMDB_imdbVotes']

#Mean Squared Error: 0.8293680411764707
#features = ['ProductionBudget',   'WorldwideGross', 'OMDB_imdbVotes']

#Mean Squared Error: 0.6453060636630753
#features = ['ProductionBudget',  'OMDB_BoxOffice',  'OMDB_imdbVotes']

#Mean Squared Error: 0.9181362154750244
#features = ['ProductionBudget',  'OMDB_BoxOffice', 'WorldwideGross']

#Fourth Round of Variations

#Mean Squared Error: Mean Squared Error: 0.6810655034280116
#features = [ 'WorldwideGross', 'OMDB_imdbVotes']

#Mean Squared Error: 0.8293680411764707
#features = ['ProductionBudget', 'OMDB_imdbVotes']

#Mean Squared Error: 0.6453060636630753
#features = ['ProductionBudget',  'OMDB_BoxOffice']

#Mean Squared Error: 0.9181362154750244
#features = ['OMDB_BoxOffice', 'WorldwideGross']

target = 'OMDB_imdbRating'

## Dataframe Cleanup

In [223]:
# Assuming the column name is 'OMDB_BoxOffice'
df['OMDB_BoxOffice'] = df['OMDB_BoxOffice'].replace('[\$,]', '', regex=True).astype(float)
df['OMDB_imdbVotes'] = df['OMDB_imdbVotes'].replace('[\$,]', '', regex=True).astype(float)
# Drop rows with missing values in the selected features and target
df = df.dropna(subset=features + [target])

In [224]:
# Encode categorical features if necessary
# For simplicity, let's encode 'OMDB_Rated' using Label Encoding
le = LabelEncoder()
df['OMDB_Rated'] = le.fit_transform(df['OMDB_Rated'])

In [225]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.2, random_state=42)

In [226]:
# Initialize the Random Forest Regressor
model = RandomForestRegressor(n_estimators=100, random_state=42)

In [227]:
# Train the model
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [228]:
# Make predictions on the test set
y_pred = model.predict(X_test)

In [229]:
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 0.9181362154750244