# Import Dependences

In [1]:
import pandas as pd
import numpy as np
import time

# Load the data into dataframes

In [2]:
movies_df = pd.read_csv("../Resources/IMDB_OMDB_processed.csv")
directors_df = pd.read_csv("../Resources/IMDB_OMDB_director_data.csv", encoding='utf-8')
writers_df = pd.read_csv("../Resources/IMDB_OMDB_writer_data.csv", encoding='utf-8') 
actors_df = pd.read_csv("../Resources/IMDB_OMDB_actor_data.csv", encoding='utf-8') 
# Get rid of the index column in primary DF
movies_df = movies_df[['tconst', 'averageRating', 'numVotes', 'isAdult', 'startYear',
                       'runtimeMinutes', 'genres', 'Movie', 'OMDB_Title', 'OMDB_Rated',
                       'OMDB_Runtime', 'OMDB_Genre', 'OMDB_Director', 'OMDB_Writer',
                       'OMDB_Actors', 'OMDB_Language', 'OMDB_Country', 'OMDB_Type',
                       'OMDB_Metascore', 'OMDB_imdbRating', 'OMDB_imdbVotes', 'OMDB_BoxOffice',
                       'OMDB_Production', 'ReleaseYear', 'ReleaseMonth']]

In [3]:
print(len(movies_df))
movies_df.head()

221933

,tconst,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres,Movie,OMDB_Title,OMDB_Rated,...,OMDB_Language,OMDB_Country,OMDB_Type,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_BoxOffice,OMDB_Production,ReleaseYear,ReleaseMonth
0,tt0013274,6.8,59,0,2021,94,Documentary,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,unknown,...,None,Soviet Union,movie,NaN,NaN,58.0,NaN,NaN,2022.0,5.0
1,tt0015414,5.2,16,0,2000,60,0,La tierra de los toros,La tierra de los toros,unknown,...,None,"Spain, France",movie,NaN,6.6,16.0,NaN,NaN,NaN,NaN
2,tt0015724,6.1,27,0,1993,102,"Drama,Mystery,Romance",Dama de noche,Dama de noche,unknown,...,Spanish,Mexico,movie,NaN,5.8,27.0,NaN,NaN,1993.0,3.0
3,tt0035423,6.4,87965,0,2001,118,"Comedy,Fantasy,Romance",Kate & Leopold,Kate & Leopold,teens,...,"English, French",United States,movie,44.0,6.4,87977.0,47121859.0,NaN,2001.0,12.0
4,tt0036606,6.5,345,0,1983,118,"Drama,War","Another Time, Another Place","Another Time, Another Place",adults,...,"English, Italian",United Kingdom,movie,NaN,6.5,338.0,NaN,NaN,1984.0,5.0

In [4]:
print(f'director df length: {len(directors_df)}')
print(f'writer df length: {len(writers_df)}')
print(f'actor df length: {len(directors_df)}')

director df length: 116495
writer df length: 163095
actor df length: 116495

# Pull in Director Average Box Office, IMDB Rating, and Combined Score

In [5]:
# Grab start time
start_time = time.time()

# Loop through every row of the movies_df
for index, row in movies_df.iterrows():
    movie_directors = row['OMDB_Director']
    # print something to indicate still working...
    if index%10000 == 0:
        print(f'working on index: {index}')
    # Only take action if the directors cell is populated with a string
    if isinstance(movie_directors, str) and movie_directors != "" :
        # Convert the comma separated list of directors into a list
        director_list = movie_directors.split(", ")
        # Set lists to store the ratings for a given row
        boxes = []
        ratings = []
        scores = []
        # Iterate through the each director in the list to get the rating for each - dropped 2 unused metrics for the sake of time
        for d in director_list:
            # Collect the values for the given director; if not found in file, set to 0
            try: 
                # d_box = directors_df.loc[directors_df['Director'] == d, 'Average_Box_Office'].iloc[0]
                d_rating = directors_df.loc[directors_df['Director'] == d, 'Average_IMDB_Rating'].iloc[0]
                # d_score = directors_df.loc[directors_df['Director'] == d, 'Success_Metric'].iloc[0]
            except IndexError:
                d_rating = 0

            # Only populate the list if a number (i.e., not NaN) to avoid creating NaN if 1 out of 6 is NaN
            # if d_box > 0: 
            #     boxes.append(d_box)
            if d_rating > 0: 
                ratings.append(d_rating)
            # if d_score > 0: 
            #     scores.append(d_score)
        # Populate the DataFrame with the average across the listed directors
        # if boxes != []:
        #     directors_box = round(np.average(boxes),2)
        #     movies_df.loc[index,'Director_Avg_Box'] = directors_box
        if ratings != []:
            directors_rating = round(np.average(ratings),2)
            movies_df.loc[index,'Director_Avg_Rating'] = directors_rating
        # if scores != []:
        #     directors_score = round(np.average(scores),2)
        #     movies_df.loc[index,'Director_Score'] = directors_score

# Print time taken
print("--- %s seconds ---" % round((time.time() - start_time),2))

movies_df.head()

working on index: 0
working on index: 10000
working on index: 20000
working on index: 30000
working on index: 40000
working on index: 50000
working on index: 60000
working on index: 70000
working on index: 80000
working on index: 90000
working on index: 100000
working on index: 110000
working on index: 120000
working on index: 130000
working on index: 140000
working on index: 150000
working on index: 160000
working on index: 170000
working on index: 180000
working on index: 190000
working on index: 200000
working on index: 210000
working on index: 220000
--- 2576.21 seconds ---

,tconst,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres,Movie,OMDB_Title,OMDB_Rated,...,OMDB_Country,OMDB_Type,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_BoxOffice,OMDB_Production,ReleaseYear,ReleaseMonth,Director_Avg_Rating
0,tt0013274,6.8,59,0,2021,94,Documentary,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,unknown,...,Soviet Union,movie,NaN,NaN,58.0,NaN,NaN,2022.0,5.0,6.80
1,tt0015414,5.2,16,0,2000,60,0,La tierra de los toros,La tierra de los toros,unknown,...,"Spain, France",movie,NaN,6.6,16.0,NaN,NaN,NaN,NaN,5.20
2,tt0015724,6.1,27,0,1993,102,"Drama,Mystery,Romance",Dama de noche,Dama de noche,unknown,...,Mexico,movie,NaN,5.8,27.0,NaN,NaN,1993.0,3.0,6.03
3,tt0035423,6.4,87965,0,2001,118,"Comedy,Fantasy,Romance",Kate & Leopold,Kate & Leopold,teens,...,United States,movie,44.0,6.4,87977.0,47121859.0,NaN,2001.0,12.0,7.17
4,tt0036606,6.5,345,0,1983,118,"Drama,War","Another Time, Another Place","Another Time, Another Place",adults,...,United Kingdom,movie,NaN,6.5,338.0,NaN,NaN,1984.0,5.0,6.62

# Pull in Writer Average Box Office, IMDB Rating, and Combined Score

In [6]:
# Grab start time
start_time = time.time()

# Loop through every row of the movies_df
for index, row in movies_df.iterrows():
    movie_writers = row['OMDB_Writer']
    # print something to indicate still working...
    if index%10000 == 0:
        print(f'working on index: {index}')
    # Only take action if the directors cell is populated with a string
    if isinstance(movie_writers, str) and movie_writers != "" :
        # Convert the comma separated list of directors into a list
        writer_list = movie_writers.split(", ")
        # Set lists to store the ratings for a given row
        boxes = []
        ratings = []
        scores = []
        # Iterate through the each writer in the list to get the rating for each  - dropped 2 unused metrics for the sake of time
        for w in writer_list:
            # Collect the values for the given writer; if not found in file, set to 0
            try: 
                # w_box = writers_df.loc[writers_df['Writer'] == w, 'Average_Box_Office'].iloc[0]
                w_rating = writers_df.loc[writers_df['Writer'] == w, 'Average_IMDB_Rating'].iloc[0]
                # w_score = writers_df.loc[writers_df['Writer'] == w, 'Success_Metric'].iloc[0]
            except IndexError:
                w_rating = 0

            # Only populate the list if a number (i.e., not NaN) to avoid creating NaN if 1 out of 6 is NaN
            # if w_box > 0: 
            #     boxes.append(w_box)
            if w_rating > 0: 
                ratings.append(w_rating)
            # if w_score > 0: 
            #     scores.append(w_score)
        # Populate the DataFrame with the average across the listed directors
        # if boxes != []:
        #     writers_box = round(np.average(boxes),2)
        #     movies_df.loc[index,'Writer_Avg_Box'] = writers_box
        if ratings != []:
            writers_rating = round(np.average(ratings),2)
            movies_df.loc[index,'Writer_Avg_Rating'] = writers_rating
        # if scores != []:
        #     writers_score = round(np.average(scores),2)
        #     movies_df.loc[index,'Writer_Score'] = writers_score

# Print time taken
print("--- %s seconds ---" % round((time.time() - start_time),2))

movies_df.head()

working on index: 0
working on index: 10000
working on index: 20000
working on index: 30000
working on index: 40000
working on index: 50000
working on index: 60000
working on index: 70000
working on index: 80000
working on index: 90000
working on index: 100000
working on index: 110000
working on index: 120000
working on index: 130000
working on index: 140000
working on index: 150000
working on index: 160000
working on index: 170000
working on index: 180000
working on index: 190000
working on index: 200000
working on index: 210000
working on index: 220000
--- 4446.14 seconds ---

,tconst,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres,Movie,OMDB_Title,OMDB_Rated,...,OMDB_Type,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_BoxOffice,OMDB_Production,ReleaseYear,ReleaseMonth,Director_Avg_Rating,Writer_Avg_Rating
0,tt0013274,6.8,59,0,2021,94,Documentary,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,unknown,...,movie,NaN,NaN,58.0,NaN,NaN,2022.0,5.0,6.80,NaN
1,tt0015414,5.2,16,0,2000,60,0,La tierra de los toros,La tierra de los toros,unknown,...,movie,NaN,6.6,16.0,NaN,NaN,NaN,NaN,5.20,NaN
2,tt0015724,6.1,27,0,1993,102,"Drama,Mystery,Romance",Dama de noche,Dama de noche,unknown,...,movie,NaN,5.8,27.0,NaN,NaN,1993.0,3.0,6.03,6.07
3,tt0035423,6.4,87965,0,2001,118,"Comedy,Fantasy,Romance",Kate & Leopold,Kate & Leopold,teens,...,movie,44.0,6.4,87977.0,47121859.0,NaN,2001.0,12.0,7.17,6.86
4,tt0036606,6.5,345,0,1983,118,"Drama,War","Another Time, Another Place","Another Time, Another Place",adults,...,movie,NaN,6.5,338.0,NaN,NaN,1984.0,5.0,6.62,6.50

# Pull in Actor/Actress Average Box Office, IMDB Rating, and Combined Score

In [7]:
# Grab start time
start_time = time.time()

# Loop through every row of the movies_df
for index, row in movies_df.iterrows():
    movie_actors = row['OMDB_Actors']
    # print something to indicate still working...
    if index%10000 == 0:
        print(f'working on index: {index}')
    # Only take action if the directors cell is populated with a string
    if isinstance(movie_actors, str) and movie_actors != "" :
        # Convert the comma separated list of directors into a list
        actor_list = movie_actors.split(", ")
        # Set lists to store the ratings for a given row
        boxes = []
        ratings = []
        scores = []
        # Iterate through the each actor in the list to get desired values - dropped 2 unused metrics for the sake of time
        for a in actor_list:
            # Collect the values for the given director
            # a_box = actors_df.loc[actors_df['Actor'] == a, 'Average_Box_Office'].iloc[0]
            a_rating = actors_df.loc[actors_df['Actor'] == a, 'Average_IMDB_Rating'].iloc[0]
            # a_score = actors_df.loc[actors_df['Actor'] == a, 'Success_Metric'].iloc[0]

            # Only populate the list if a number (i.e., not NaN) to avoid creating NaN if 1 out of 6 is NaN
            # if a_box > 0: 
            #     boxes.append(a_box)
            if a_rating > 0: 
                ratings.append(a_rating)
            # if a_score > 0: 
            #     scores.append(a_score)
        # Populate the DataFrame with the average across the listed directors
        # if boxes != []:
        #     actors_box = round(np.average(boxes),2)
        #     movies_df.loc[index,'Actor_Avg_Box'] = actors_box
        if ratings != []:
            actors_rating = round(np.average(ratings),2)
            movies_df.loc[index,'Actor_Avg_Rating'] = actors_rating
        # if scores != []:
        #     actors_score = round(np.average(scores),2)
        #     movies_df.loc[index,'Actor_Score'] = actors_score

# Print time taken
print("--- %s seconds ---" % round((time.time() - start_time),2))

movies_df.head()

working on index: 0
working on index: 10000
working on index: 20000
working on index: 30000
working on index: 40000
working on index: 50000
working on index: 60000
working on index: 70000
working on index: 80000
working on index: 90000
working on index: 100000
working on index: 110000
working on index: 120000
working on index: 130000
working on index: 140000
working on index: 150000
working on index: 160000
working on index: 170000
working on index: 180000
working on index: 190000
working on index: 200000
working on index: 210000
working on index: 220000
--- 15901.27 seconds ---

,tconst,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres,Movie,OMDB_Title,OMDB_Rated,...,OMDB_Metascore,OMDB_imdbRating,OMDB_imdbVotes,OMDB_BoxOffice,OMDB_Production,ReleaseYear,ReleaseMonth,Director_Avg_Rating,Writer_Avg_Rating,Actor_Avg_Rating
0,tt0013274,6.8,59,0,2021,94,Documentary,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,unknown,...,NaN,NaN,58.0,NaN,NaN,2022.0,5.0,6.80,NaN,NaN
1,tt0015414,5.2,16,0,2000,60,0,La tierra de los toros,La tierra de los toros,unknown,...,NaN,6.6,16.0,NaN,NaN,NaN,NaN,5.20,NaN,5.20
2,tt0015724,6.1,27,0,1993,102,"Drama,Mystery,Romance",Dama de noche,Dama de noche,unknown,...,NaN,5.8,27.0,NaN,NaN,1993.0,3.0,6.03,6.07,6.10
3,tt0035423,6.4,87965,0,2001,118,"Comedy,Fantasy,Romance",Kate & Leopold,Kate & Leopold,teens,...,44.0,6.4,87977.0,47121859.0,NaN,2001.0,12.0,7.17,6.86,6.51
4,tt0036606,6.5,345,0,1983,118,"Drama,War","Another Time, Another Place","Another Time, Another Place",adults,...,NaN,6.5,338.0,NaN,NaN,1984.0,5.0,6.62,6.50,6.22

In [8]:
movies_df.to_csv("./Resources/IMDB_OMDB_FINAL.csv")